* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* elementi riguardanti l'HEADER e il FOOTER */
header {
  background-color: orange;
  height: 80px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 20;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
    padding-top: 20px;
    padding-right: 30px;
}

footer {
  background-color: rgb(24, 23, 22);
  height: 80px;
  color: white;
}

.links,
.icons {
  color: white;
}
.logo {
  height: 40px;
  width: 131px;
}
/* ---------------------------------*/
img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1080px;
  margin: 100px auto;
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.col {
  flex-basis: calc(100% / 3 - 20px);

  min-height: 50px;
}
/* elementi mobili dentro le cards */
.discount {
  color: rgb(248, 244, 244);
  padding: 10px 15px;
  background-color: red;
  position: absolute;
  left: 0px;
  bottom: 80px;
}
.sostenibilità {
  color: rgb(248, 244, 244);
  padding: 10px 15px;
  background-color: rgb(32, 217, 54);
  position: absolute;
  left: 70px;
  bottom: 80px;
}
.sostenibilità2 {
  color: rgb(248, 244, 244);
  padding: 10px 15px;
  background-color: rgb(32, 217, 54);
  position: absolute;
  left: 0px;
  bottom: 80px;
}
.heart {
  background-color: white;
  color: black;
  padding: 10px 15px;
  position: absolute;
  top: 5px;
  right: 0px;
}
/* ---------------------------------*/
.card {
  position: relative;
  flex-basis: calc(100% / 3 - 20px);

  min-height: 50px;
}

#first:hover {
  content: url(./img/1b.webp);
}
#second:hover {
  content: url(./img/2b.webp);
}
#third:hover {
  content: url(./img/3b.webp);
}
#forth:hover {
  content: url(./img/4b.webp);
}
#fifth:hover {
  content: url(./img/5b.webp);
}
#sixth:hover {
  content: url(./img/6b.webp);
}

.red{
  color: red;
}
.p2{
  text-align: center;
  margin-top: 10px;
}
.heart:hover{
color: red;
}